<form action="/post" method="post" >
  <input type="text" name="text" placeholder="Insert text here" ><br>
  <input type="text" name="category" placeholder="Insert category name" >
  <input type="submit" name="Submit">
</form>
